$break-phone_small: 320px;
$break-phone: 640px;

.fake-phone-screen {
  zoom: 100%;
    @media screen and (max-width: $break-phone_small) {
      zoom: 50%;
    }
    @media screen and (max-width: $break-phone) {
      zoom: 70%;
    }
}

.game {
  margin: 0 auto;

  &__stats {
    font-family: $font-stats;
    width: 480px;
    margin: 0 auto;
    padding: 2px;
    background: $color-stats;
    color: $color-text-stats;
  }

  &__area {
    width: 480px;
    height: 608px;
    margin: 0 auto;
  }

  &__controls{
    position: absolute;
    bottom: 10px;
    left: calc(50% - 120px);
    margin: 0 auto;
    width: 240px;
    display: flex;
    align-items: center;

    .column {
      width:80px;
    }
  }
}

.directional-button {
  position: relative;
  margin: 20px 5px;
  background: $color-button;
  width: 70px;
  height: 70px;
  box-shadow: 5px 5px 0 0 black;

  &:active {
    top: 3px;
    left: 3px;
    box-shadow: 2px 2px 0 0 black;
  }

}

