$break-phone_small: 320px;
$break-phone: 640px;

body {
  background: $game-bkg;
}

.fake-phone-screen {
  margin-top: 15px;
  zoom: 100%;
    @media screen and (max-width: $break-phone_small) {
      zoom: 40%;
    }
    @media screen and (max-width: $break-phone) {
      zoom: 70%;
    }
}

.game {
  margin: 0 auto;

  &__stats {
    font-family: $font-stats;
    width: 480px;
    margin: 0 auto;
    background: $color-stats;
    color: $color-text-stats;

    &_points {
      display: inline-block;
      width: 48%;
      margin: 2px;

      &:last-child {
        text-align: right;
      }
    }
  }

  &__area {
    width: 480px;
    height: 608px;
    margin: 0 auto;
  }

  &__controls{
    position: absolute;
    bottom: -5px;
    left: calc(50% - 120px);
    margin: 0 auto;
    width: 300px;
    display: flex;
    align-items: center;

    .column {
      width:110px;
    }
  }
}

.directional-button {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  background: $color-button;
  width: 100px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 5px 5px 0 0 black;

  &:active {
    top: 3px;
    left: 3px;
    box-shadow: 2px 2px 0 0 black;
  }

  &--left {
    transform: rotate(5deg);
    top: -5px;
  }

  &--right {
    transform: rotate(-5deg);
    top: -5px;
  }

  &__number {
    font-size: 20pt;
  }

  &__letters {
    font-size: 10pt;
    font-family: Courier, monospace;
  }

}

